{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container text-center">
        <div class="row">
            <div class="col">
                <h1>Welcome to CamHire!</h1>
                <p>Your one-stop solution for renting professional cameras and lenses in the UK.</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <img src="" class="card-img-top" alt="Camera">
            <div class="card-body">
                <h5 class="card-title">Camera Rental</h5>
                <p class="card-text">Explore our extensive range of cameras for all your photography needs. Whether you're a professional or an amateur, we have the perfect camera for you.</p>
                <a href="" class="btn btn-primary">View all cameras</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <img src="" class="card-img-top" alt="Lens">
            <div class="card-body">
                <h5 class="card-title">Lens Rental</h5>
                <p class="card-text">Choose from a wide variety of lenses to capture stunning photos. From wide-angle to telephoto, we have lenses to suit every style and requirement.</p>
                <a href="" class="btn btn-primary">View all lenses</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
