{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container text-center">
        <div class="row">
            <div class="col">
                <h1>Welcome to CamShop!</h1>
                <p>Purchase professional photography equipment from anywhere in the UK effortlessly!</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <img src="#" class="card-img-top" alt="Products">
            <div class="card-body">
                <h5 class="card-title">Shop</h5>
                <p class="card-text">Explore our extensive range of photography gear tailored for all your needs. Whether you're a seasoned professional or an enthusiastic amateur, we have the perfect camera for you.</p>
                <a href="#" class="btn btn-black">View all products</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <img src="#" class="card-img-top" alt="Blog">
            <div class="card-body">
                <h5 class="card-title">Learn</h5>
                <p class="card-text">Dive into a wealth of educational content designed to enhance your photography skills. From camera equipment insights to photography tips and techniques, our blog covers everything you need to capture stunning photos, regardless of your style or experience level.</p>
                <a href="#" class="btn btn-black">View all blogs</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
