<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        {% for category in categories %}
            <li class="nav-item dropdown">
                <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="{{ category.name }}-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ category.name|title }}
                </a>
                <div class="dropdown-menu border-0" aria-labelledby="{{ category.name }}-link">
                    {% for subcategory in subcategories %}
                        {% if subcategory.category_id == category.id %}
                            <a href="{% url 'products' %}?category={{ category.name }}&subcategory={{ subcategory.name }}" class="dropdown-item">{{ subcategory.friendly_name }}</a>
                        {% endif %}
                    {% endfor %}
                    <a href="{% url 'products' %}?category={{ category.name }}" class="dropdown-item">All {{ category.name|title }}</a>
                </div>
            </li>
        {% endfor %}
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="blog-categories-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Blog
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="blog-categories-link">
                {% for blog_category in blog_categories %}
                    <a href="{% url 'blog_category' blog_category.name %}" class="dropdown-item">{{ blog_category.get_friendly_name }}</a>
                {% endfor %}
                <a href="{% url 'blog_list' %}" class="dropdown-item">All Blogs</a>
            </div>
        </li>
    </ul>
</div>