<!-- {% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <hr>
                <h2 class="logo-font mb-4">Delete Your Review</h2>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6">
                <p class="text-left mb-3 mt-0 user-input-p text-muted">
                    Are you sure you want to delete your review?
                </p>

                <form method="POST" action="{% url 'delete_review' review.id %}" class="form mb-2">
                    {% csrf_token %}
                    <div class="text-center">
                        <button class="btn btn-danger rounded-0" type="submit">Delete Review</button>
                        <a class="btn btn-outline-black rounded-0" href="{% url 'product_detail' review.product.id %}">Cancel</a>
                    </div>
                </form>
            </div>            
        </div>
    </div>
{% endblock %} -->